/* Reseta margens e paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Define o estilo global da página */
body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 2rem;
}

/* Estilo do cabeçalho */
h1 {
    color: #f06292;
    margin-bottom: 1rem;
}

/* Estilo do parágrafo */
p {
    color: #ddd;
    margin-bottom: 1rem;
}

/* Estilo do campo de entrada */
input[type="text"] {
    border: 1px solid #f06292;
    border-radius: 5px;
    padding: 0.5rem;
    color: #000;
    background-color: #fff;
    font-size: 1rem;
    width: 80%;
    max-width: 300px;
    margin-bottom: 1rem;
}

/* Estilo do botão */
button {
    background-color: #f06292;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

/* Efeito hover do botão */
button:hover {
    background-color: #e91e63;
    transform: translateY(-2px);
}

/* Estilo da div de temperatura */
#temperatura {
    background-color: transparent; /* Fundo transparente para combinar com o tema */
    border: 1px solid #fff; /* Borda branca para destacar */
    border-radius: 8px;
    padding: 1rem;
    margin-top: 1rem;
    color: #fff;
    font-size: 1.2rem;
}
.voltar {
    text-align: center;
}